<div>
    <div ng-controller = "PreviewController">

            <fieldset>
                <legend>Mapping the users</legend>

                Password: {{password}}

                <br/>

                Status: {{status}}

                <br/>
                <table>
                    <tr>
                        <th ng-repeat="field in map">
                              {{map[$index]}}
                        </th>
                    </tr>

                    <tr ng-repeat = "user in users">

                        <td ng-repeat = "field in map">
                            {{user[$index]}}
                        </td>

                    </tr>
                </table>
                <button ng-click="backToMapping()">Back</button>
                <button ng-click="saveToDatabase()">Apply</button>
            </fieldset>

    </div>
</div>