<div>
    <div ng-controller = "PreviewController">

            <fieldset>
                <legend>Mapping the users</legend>

                Password: {{password}}

                <br/>

                Status: {{status}}

                <br/>
                <table>
                    <tr>
                        <th ng-repeat="field in map">
                              {{map[$index]}}
                        </th>
                    </tr>

                    <tbody ng-repeat="user in users">

                    <tr ng-if = "users.length < 10 || $index <= 2 || $last" >
                        <td ng-repeat = "field in map">
                            {{user[$index]||'no data'}}
                        </td>
                    </tr>

                    <tr ng-if = "users.length > 9 && $index == 3">
                        <td colspan="{{map.length}}">
                            .....
                        </td>
                    </tr>


                    </tbody>
                </table>
                <button ng-click="backToMapping()">Back</button>
                <button ng-click="saveToDatabase()">Apply</button>
            </fieldset>

    </div>
</div>